/* Example media query
@media only screen and (min-width: 500px) {
    body {
        background-color: salmon;
    }
}  */

body {
    background-color: salmon;
}

img {
    display: none;
    max-width: 100%;
}

.purple-rect {
    border: 5px solid purple;
}

.coral-rect {
    border: 5px solid lightcoral;
}

@media only screen and (min-width: 600px) {
    img {
        display: block;
        max-width: 100%;
    }
}


@media only screen and (min-width: 500px) {
    body {
        background-color: red;
    }
}

@media only screen and (min-width: 600px) {
    body {
        background-color: rgb(176, 224, 230);
    }
}

@media only screen and (min-width: 800px) {
    body {
        background-color: yellowgreen;
    }
}


